<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="CartContainer">
        <div class="row">
          <div class="col-12">
            <h3>Cart Items</h3>
          </div>
        </div>

        <div *ngIf="cartItems.length === 0">No cart, Go to home</div>

        <ng-container *ngIf="cartItems.length > 0">
          <div class="row pt-1" *ngFor="let cart of cartItems">
            <div class="col-3">
              <img
                class="img-fluid"
                style="height: 200px"
                [src]="cart.productImageUrl"
                class="card-img-top"
              />
            </div>
            <div class="col-3">
              {{ cart.productName }}
            </div>
            <div class="col-2">
              <div class="d-flex align-items-center">
                <button
                  (click)="updateProductItem(cart, 'minus')"
                  [disabled]="cart.quantity === 1"
                >
                  -
                </button>
                {{ cart.quantity }}
                <button (click)="updateProductItem(cart, 'add')">+</button>
              </div>
            </div>
            <div class="col-2 text-end">
              {{ cart.productPrice | currency : "₦" }}
            </div>
            <div class="col-2 text-end">
              <button class="btn btn-sm btn-danger" (click)="removeItem(cart)">
                Remove
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
              <hr />
            </div>
          </div>

          <div class="row">
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-4">
              <div class="Subtotal">Sub-Total</div>
              <div>
                <small> {{ cartItems.length }} items</small>
              </div>
            </div>
            <div class="col-4 text-end">
              <strong> {{ subTotal | currency : "₦" }}</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-right">
              <div class="d-flex justify-content-end">
                <button class="btn btn-lg btn-success" (click)="checkout()">
                  Make Payment
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
